In [1]:
#Last lecture we learned about Data Structure.Now Continue With Tuples , Set and Dictionary
#Lets start with tuple

In [2]:
#what is tuples ? Tuple is a data structure of python. tuple are always in () round brackets
#tuples are immutable.and its work with all data types.
#lets see with example.

In [3]:
work_location=('Bengluru','Kolkata','Chennai','raipur')

In [4]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur')

In [5]:
#check type

In [6]:
type(work_location)

tuple

In [7]:
#Lets try to add new work location.like list method

In [8]:
work_location.append('Korba')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Its not add , because tuple are immutable
#But dont worry, we have a trick to add .
#lets see how we can add.
#first we have to convert tupple into a list.

In [9]:
work_location=list(work_location)

In [10]:
#now you can edit

In [11]:
work_location.append('Korba')

In [12]:
work_location

['Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba']

In [13]:
#now back to change in tuple

In [14]:
work_location=tuple(work_location)

In [15]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [16]:
#Hi Hi Hi , we can change !!

In [17]:
#How many cities in tuple , i mean what is the length of tuple,
#checking length in tuple like List.

In [18]:
len(work_location)

5

In [19]:
#Similarly you can work with numbers as well , no change in the concept.

In [20]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [21]:
#use indexing just like we did in list

In [22]:
work_location[1]

'Kolkata'

In [23]:
#slicing just like a list

In [24]:
work_location[-2]

'raipur'

In [25]:
#Basics Tuple Method.
#Tuple have buit in method , but not many as list,
#lets see two samples of tuples built in method

In [26]:
numbers=(50,60,40,90,80,70,60,50,40,70,10,20,30,7,50,50)

In [27]:
#use .index to enter a value,  and return the index

In [28]:
numbers.index(30)

12

In [29]:
#Use .count to count the number of times a value appears

In [30]:
numbers.count(50)

4

In [31]:
#Lets Study about Set.
#So what is set ? set is a data structure in pyhton. sets are an unordered collection of unique element- 
#-which can be constructed using set() fucntion.

In [32]:
#Sets   =   1 -  Keeps item in sorted order
#           2 - eliminate the duplicates element.    
#lets see with examples.

In [33]:
roll_number=set()

In [34]:
#check the type

In [35]:
type(roll_number)

set

In [36]:
#we add to set with the add methods

In [37]:
roll_number.add(1)

In [38]:
roll_number

{1}

In [39]:
#we know that set has only take unique element . lets se if we add duplicates. whats python shows.

In [40]:
#add different element

In [41]:
roll_number.add(2)

In [42]:
roll_number

{1, 2}

In [43]:
#Try to add the same element

In [44]:
roll_number.add(1)

In [45]:
#they did not show any error. but the also dont add ion our roll_number set.
#lets see

In [46]:
roll_number

{1, 2}

In [47]:
#You have to know one thing where we use set method.
#lets i can tell you , if we have list with numbers , but in our list lots of numbers available -
#- and we have to find only unique element .
#what we can do,  we can use set method to get unique element 
#lets see how its work

In [48]:
numbers=[1,2,3,4,5,6,7,8,9,1,2,3,4,56,789,12,74,74,85,96,74,85,96,4,1,52,63,52,41,56,56]

In [49]:
#cast to get unique elements from list

In [50]:
remove_duplicate=set(numbers)

In [51]:
remove_duplicate #lets see the can show only unique element .

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 41, 52, 56, 63, 74, 85, 96, 789}

In [52]:
#again you can covert to list if you want (after removing duplicates)

In [53]:
numberss=list(remove_duplicate)

In [54]:
#lets do

In [55]:
#Now Study about dictionary
# what is dictionary ? dictionary is also a data staructure,dictionary contain keys:value in curly {} brackets.
#dictionary will take corresponding value 
#we can construct dictionary to get better understanding.

In [56]:
my_dict={'key1':'value1','key2':'value2'}

In [57]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [58]:
#call the value by their key

In [59]:
my_dict['key1']

'value1'

In [60]:
#note that dictionary are very comforatblw with all data types.

In [61]:
my_dict={'Roll Number':123,'Subjects':['Maths','science','Computer'],'Marks':[24,29,25]}

In [62]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [63]:
#Lets call items from the dictionary

In [64]:
my_dict['Subjects']

['Maths', 'science', 'Computer']

In [65]:
#can call  an index on that value.

In [66]:
my_dict['Subjects'][0]

'Maths'

In [67]:
my_dict['Subjects'][1]

'science'

In [68]:
my_dict['Subjects'][2]

'Computer'

In [69]:
#we cal aslo capitalise the element which can present in dictionary

In [70]:
my_dict['Subjects'][2].upper()

'COMPUTER'

In [71]:
#add Marks to the first element

In [72]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [73]:
my_dict['Marks'][0]=my_dict['Marks'][0]+6

In [74]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25]}

In [75]:
#Python can multiple, addition , substraction and divide .

In [76]:
#another way of adding

In [77]:
my_dict['Marks'][0]+=4

In [78]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [34, 29, 25]}

In [79]:
#lets subtract

In [80]:
my_dict['Marks'][0]-=4

In [81]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25]}

In [82]:
#How we can add key .and values .

In [83]:
my_dict['Year']=2015

In [84]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25],
 'Year': 2015}

In [85]:
#lets note down one thing. if we have to add key and value , with the help of last used method
# we have to enter key and value , if the key name is already present in dictionary .
# they will add  the value in old keys., this reason for we have have to write new key name.

In [86]:
#Update values()

In [87]:
my_dict.update({'Roll Number':100})

In [88]:
my_dict

{'Roll Number': 100,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25],
 'Year': 2015}

In [89]:
#Items will return both keys and corresponding values.

In [90]:
my_dict.items()

dict_items([('Roll Number', 100), ('Subjects', ['Maths', 'science', 'Computer']), ('Marks', [30, 29, 25]), ('Year', 2015)])

In [91]:
#Branching (if,elif,else).      what is elif ? else + if =elif
#Puthon provide the if statement to allow branching based on condition. multiple elif checks-
# - can also be peformed followed by an optional else caluse. the statment can be used with any evaluation of truthiness.

In [92]:
#In my word branching (if,elif ,else) they can provide us to check truthiness of elements 
# you would better understand with example
#lets se example

In [93]:
i =10
if i<11: # definitely you have doubt whay print is in space, is know as indentation.means four space 
    print('i is samller')
else:
    print('i is greater')

i is samller

In [94]:
#You can write in this way (2nd way to write (if,elif,else)statement)

In [95]:
print('i is smaller')if i<11 else print('i is greater')

i is smaller

In [96]:
#lets se with another example.
#free shipping message

In [97]:
item_1=100
item_2=300

if (item_1+item_2)>=500:
    print('Your item in eligible for free shipping')
else:
    extra=500-(item_1+item_2)
    print('please add',extra,'Rs worth for free shipping')

please add 100 Rs worth for free shipping

In [98]:
#Lets see different example with 'and' method

In [99]:
a=200
b=33
c=500

if a>b and c<a:
    print('Both condtion are true')
else:
    print('Both condion are wrong')

Both condion are wrong

In [100]:
#Lets see different example with 'or' method

In [101]:
a=200
b=33
c=500

if a>b or c<a:
    print('Atleast one of the condition are true')
else:
    print('Both condition are wrong')

Atleast one of the condition are true

In [102]:
#Lets see with Different Example
#Lets check Student leve

In [103]:
marks=60

if marks>=60:
    if  marks>70:
        print(marks,'distiction')
    else:
        print(marks,'First class')
elif marks>50 and marks<60:
    print(marks,'second division')
elif marks>35:
    print(marks,'Just pass')
else:
    ('marks','Fail Better luck next time')

60 First class

In [104]:
#See with another example

In [105]:
num1=20
num2=30
if num1<num2:
    print(num1,'is greater')
elif num2==31:
    print(num2,'is equal to 31')

20 is greater

In [106]:
#Thats all about Branching(if,elif,else)

In [108]:
#AI/ML Engineer-Saurav
#Date-26 june 2024
#Time- 10:12