In [1]:
#AI/ML 
#Basics Python 
#Lets Continue with Complex Number then we study about string and list.

In [2]:
#lets start with complex number
#Complex Number ? A complex number which can we studied in ou school. its abot real number and imaginary number , 
#which can be denote as i, 
#example of complex number - 2+5i, But in pyhton i is denoted with j
#see example in jupyer cell.

In [3]:
c=2+5j

In [5]:
type(c)

complex

In [6]:
#but in data science we dont use complex number.

In [7]:
#String. What is string - String when we use alphabet in single,double and tripple quotes
#tripple quote is also used for documentation
#see example of String

In [1]:
a='Ram is hero'

In [2]:
a

'Ram is hero'

In [3]:
type(a)

str

In [4]:
#one more example

In [5]:
str1='python'
str2=' is a powerful'
str3=' language'

In [6]:
#how we add str1,str2 and str2

In [7]:
print(str1+str2+str3)

python is a powerful language

In [8]:
#we can add directly without ececuting codes

In [9]:
print("saurav"+" is ex"," mining engineer")

saurav is ex  mining engineer

In [10]:
#other operation on string

In [11]:
print('  Day' *  5)  #(* use for multiplication)

  Day  Day  Day  Day  Day

In [12]:
print(' =' * 100)

 = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

In [13]:
#lets add string + integer

In [14]:
print('Day' + 5)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#How we can concatenate string + integer ?
#we gave to convert integer into sring.

In [15]:
print('Day' + str(5))

Day5

In [16]:
#Now We Studied about Data Structure.
#what is data structure ? Data structure which can hold,store and save out data
#there are different different typre data structure
#1- List
#2- Tuple
#3- Set
#4- Dictionary

In [17]:
#Lets Start with list 
#So, What is list?, List is like a container which can hold our data ., and list is always in square brackets [].
#Accommodate all types of data.
#list are mutable.
#what is mutable ? mutalbe means where we can edit(update,insert,add,count)our data.

In [18]:
#Create empty  list

In [19]:
lst=[]

In [20]:
lst

[]

In [21]:
type(lst)

list

In [22]:
#create proper list

In [23]:
lst=['a','b','c','d']

In [24]:
lst

['a', 'b', 'c', 'd']

In [25]:
#How to copy into their list

In [26]:
l2=list(lst)

In [27]:
l2

['a', 'b', 'c', 'd']

In [28]:
#Differnt way to copy a list 
#Copy() Method

In [29]:
marks=[30,40,50,60]

In [30]:
copy_marks=marks.copy()

In [31]:
copy_marks

[30, 40, 50, 60]

In [32]:
#Another way to make list

In [33]:
list('saurav') #this method can separate all the elemnts.

['s', 'a', 'u', 'r', 'a', 'v']

In [34]:
#Lets Try with integr

In [35]:
list(8885) #integer object is not iterable

TypeError: 'int' object is not iterable

In [36]:
#Lets Try append mends
#create an empty list and append data by usind appen method.

In [37]:
l1=[]

In [38]:
l1.append('saurav')

In [39]:
l1

['saurav']

In [40]:
#add one more thing
l1.append('vicky')

In [41]:
l1

['saurav', 'vicky']

In [42]:
#add two item 
l1.append('yashu')
l1.append('shivangi')

In [43]:
l1

['saurav', 'vicky', 'yashu', 'shivangi']

In [44]:
#index and insert-Two arguments can be paced in insert method
#insert(index,insert) meaning of index is where we have to add objects and  meaning of insert is what object we have to store.
#see with  example
#lets make new list

In [45]:
l1=['saurav','vicky','minakshi','Donald Trump','Imran khan']

In [46]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'Imran khan']

In [47]:
#now we inserting a data in the place of imran khan
#lets see how we can add

In [48]:
l1.insert(4,'putin')

In [49]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'putin', 'Imran khan']

In [50]:
#one more example with numbers

In [51]:
l1=[11,22,33,44,55,66]

In [52]:
l1.insert(2,88)

In [53]:
l1

[11, 22, 88, 33, 44, 55, 66]

In [54]:
#list Extended Method
#How to check total element in the list.
#lets create a list

In [55]:
l1=[44,55,66,99,77,88]

In [56]:
len(l1)

6

In [57]:
#Indexing and Slicing. are always in square brackets[]
#creating a list

In [58]:
l1=['saurav','gaurav','lovely','advit']

In [59]:
l1[0]

'saurav'

In [60]:
l1[1]

'gaurav'

In [61]:
l1[2]

'lovely'

In [62]:
l1[3]

'advit'

In [63]:
#How to replace object in list
#we have to replace advit by babu

In [64]:
l1[3]='Babu'

In [65]:
l1

['saurav', 'gaurav', 'lovely', 'Babu']

In [66]:
#Replace with Integer
#lets create a list with numbers

In [67]:
l1=[11,22,33,66,44,88,99,44]

In [68]:
#in l1 66 replace with 1607

In [69]:
l1[3]=1607

In [70]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [71]:
#Gran index 1 from l1 and exerything from past
#lets see

In [72]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [73]:
l1[1:]

[22, 33, 1607, 44, 88, 99, 44]

In [74]:
l1[2:]

[33, 1607, 44, 88, 99, 44]

In [75]:
#see and understabd

In [76]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [77]:
l1[1:7] #what isdone here.

[22, 33, 1607, 44, 88, 99]

In [78]:
l1[:3]

[11, 22, 33]

In [79]:
#we also use "+" sign to concatinate list, just like we did for string

In [80]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [81]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [82]:
l1+[6622]

[11, 22, 33, 1607, 44, 88, 99, 44, 6622]

In [83]:
#this concatinate method does not change permanently.
#in case if you want to concatinate permanently you use different method
#just see

In [84]:
l1=l1+[5566]

In [85]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [86]:
#if you want to duplicate 
#you have to use duplicate method
#just see

In [87]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [88]:
l1 * 4 #like that

[11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566]

In [89]:
# if you want to decorate your code
#then you will do someting to decorate
#lets see
#making a list and decorate

In [90]:
print('=' * 100)

print(l1)

print('=' * 100)   #like that

====================================================================================================
[11, 22, 33, 1607, 44, 88, 99, 44, 5566]
====================================================================================================

In [91]:
#if you double you anything by using * method they dont double for permanent

In [92]:
#Advanced List
#count method
#what is count method ? count methos is which method the csn show how many time availability of duplicate things.
#so lets see how we can you count method.
#create list with the name of marks

In [93]:
marks=[51,56,89,78,89,45,56,12,12,32,45,32,65,45,89,78,45,56,23,12,4,5,23,23,56,]

In [94]:
#we cave to find 23 , is how much time is marks list.

In [95]:
marks.count(23)

3

In [96]:
marks.count(89)

3

In [97]:
#this will show only first element index if there are duplication.

In [98]:
#Extend Method.
#manu time people confused with extend and append method. lets i can show you both method extend and append . and 
#what is the the diffrences
#start with append method.

In [99]:
lst=['munmun','lovely']

In [100]:
lst

['munmun', 'lovely']

In [101]:
lst.append(['amisha','khushi'])

In [102]:
lst

['munmun', 'lovely', ['amisha', 'khushi']]

In [103]:
#thats not look like right .
#lets check with extend method

In [104]:
lst1=['munmun','lovely']

In [105]:
lst1

['munmun', 'lovely']

In [106]:
lst1.extend(['amisha','khusi'])

In [107]:
lst1

['munmun', 'lovely', 'amisha', 'khusi']

In [108]:
#thats look cool 
#this is the diffrences.
#similarly you can add integer data as well concepts is same for any type data.

In [109]:
#Pop method
#what is pop method ? pop mehod help for delete last index elemnt from any list.
#lets see with example.

In [110]:
lst1=['Raj','Saurav','Garima','Riya','Gaurav','Ratnesh','Shailesh']

In [111]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh', 'Shailesh']

In [112]:
#what we do if we have to delete "Shailesh" from our list.

In [113]:
pop_shailesh=lst1.pop()

In [114]:
pop_shailesh

'Shailesh'

In [115]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [116]:
#Delete based on index positon
#lets check

In [117]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [118]:
#we have to delete "Garima" From our list

In [119]:
pop_garima=lst1.pop(2)

In [120]:
pop_garima

'Garima'

In [121]:
lst1

['Raj', 'Saurav', 'Riya', 'Gaurav', 'Ratnesh']

In [122]:
#Remove method
#what is remove method ?  remove method helps for delete element from our list.
#lets see with example

In [123]:
lst1=[12,33,66,55,44,77,88,99,11,22,33,44,55,66,77,88]

In [124]:
lst1.remove(55)

In [125]:
lst1

[12, 33, 66, 44, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88]

In [126]:
#lets remember one thing remove method only work with integer.
#and they can delete first element if there is any duplication

In [127]:
#Reverse Mehtod.
#what is reverse method ? reverse method helps in to reverse show the all element in list.
#lets see..

In [128]:
lst1=[11,22,33,44,55,66,44,55,66,77,88,99]

In [129]:
lst1.reverse()

In [130]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [131]:
#thats how i want to show you

In [132]:
#Sort Method
#What is sort method ? sort method helps in  to arrange the elements by ascending and descending order.
#lets see.

In [133]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [134]:
lst1.sort()

In [135]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [136]:
#sort in descending order.

In [137]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [138]:
lst1.sort(reverse=True)

In [139]:
lst1

[99, 88, 77, 66, 66, 55, 55, 44, 44, 33, 22, 11]

In [1]:
#AI/ML Engineer-Saurav
#Date-25 June 2024
#Time- 14:15