
# Pandas Continue

# DataFrame Manipulation

In [3]:
#Lets Import imp libraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [16]:
matrix_data=np.matrix('22,66,140;42,72,148;30,62,125;35,68,160;25,62,152')
row_labels=['Raju','Pandey','Srini','Sunil','Ashok']
column_headings=['Age','Height','Weight']

In [18]:
df=pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
print('\n A new DataFrame \n','-'*25,sep='')
print(df)

 A new DataFrame
-------------------------
        Age  Height  Weight
Raju     22      66     140
Pandey   42      72     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [19]:
#How we can only print Height and Weight

In [20]:
only_ht_wt=df[['Height','Weight']]

In [23]:
only_ht_wt

        Height  Weight
Raju        66     140
Pandey      72     148
Srini       62     125
Sunil       68     160
Ashok       62     152

In [25]:
#Print Age by . method('Generally it would'nt Use)

In [28]:
print("\n 'Age' accessed by Dot Method (Not Recommended)\n",'-'*55,sep='')
print(df.Age)#You can Access only column at a time

 'Age' accessed by Dot Method (Not Recommended)
-------------------------------------------------------
Raju      22
Pandey    42
Srini     30
Sunil     35
Ashok     25
Name: Age, dtype: int32

Lets Understand Slicing Particular Element

In [29]:
#Select particular index data using loc(index name) loc=Locate

In [30]:
df.loc['Raju']

Age        22
Height     66
Weight    140
Name: Raju, dtype: int32

In [31]:
#Select Particular index data using iloc(index position) iloc=index Locate

In [34]:
df.iloc[0]

Age        22
Height     66
Weight    140
Name: Raju, dtype: int32

In [35]:
print(df)

        Age  Height  Weight
Raju     22      66     140
Pandey   42      72     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [36]:
#Select index and column for a particular data

In [37]:
print("/n select index and column for a particular data \n")
print(df.loc['Pandey','Height'])

/n select index and column for a particular data

72

In [38]:
#Select Index and list of column data\n

In [39]:
print("\n Select Index and list of column data\n")
print(df.loc['Ashok',['Height','Weight']])

 Select Index and list of column data

Height     62
Weight    152
Name: Ashok, dtype: int32

In [40]:
#Select list of index and column data

In [41]:
print("\n Select List of index and column data \n")
print(df.loc[['Pandey','Sunil'],['Age','Weight']])

 Select List of index and column data

        Age  Weight
Pandey   42     148
Sunil    35     160

In [42]:
#Check original df

In [43]:
df

        Age  Height  Weight
Raju     22      66     140
Pandey   42      72     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

# Select data on condition

In [45]:
#Check wheather height in greater then 65

In [44]:
print("\n Rows with Height >65 inch \n",'-'*35)
print(df[df['Height']>65])

 Rows with Height >65 inch
 -----------------------------------
        Age  Height  Weight
Raju     22      66     140
Pandey   42      72     148
Sunil    35      68     160

In [47]:
booldf1=df['Height']>65
booldf2=df['Weight']>145

In [48]:
#Select Rows with Height >65 inch and Weight >145 lbs

In [52]:
print("\n Select With Height >65 inch and weight >145\n",'-'*68,sep='')
print(df[(booldf1)& (booldf2)])

 Select With Height >65 inch and weight >145
--------------------------------------------------------------------
        Age  Height  Weight
Pandey   42      72     148
Sunil    35      68     160

In [53]:
#DataFrame with only Age and Weight Columns Whose Height>65 inch

In [54]:
print("\n DataFrame With only AgE And Weight columns whose Height >65 inch \n",'-'*60,sep='')
print(df[booldf1][['Age','Weight']])

 DataFrame With only AgE And Weight columns whose Height >65 inch
------------------------------------------------------------
        Age  Weight
Raju     22     140
Pandey   42     148
Sunil    35     160

In [57]:
#create new variable and assign the booldf1 and save in new variable

In [56]:
selected_candidates=df[booldf1][['Age','Weight']]
selected_candidates

        Age  Weight
Raju     22     140
Pandey   42     148
Sunil    35     160

In [58]:
#lets check df

In [59]:
df

        Age  Height  Weight
Raju     22      66     140
Pandey   42      72     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [60]:
#Lets Know About resetting Index

In [61]:
print("\n After resetting index \n",'-'*35)
print(df.reset_index())

 After resetting index
 -----------------------------------
    index  Age  Height  Weight
0    Raju   22      66     140
1  Pandey   42      72     148
2   Srini   30      62     125
3   Sunil   35      68     160
4   Ashok   25      62     152

In [62]:
#Lets Print whose age in <35

In [65]:
print("\n Rows with age <35 year\n",'-'*35,sep='')
df=df[df['Age']<35]
print(df)

 Rows with age <35 year
-----------------------------------
       Age  Height  Weight
Raju    22      66     140
Srini   30      62     125
Ashok   25      62     152

In [66]:
#After resetting index with drop

In [67]:
print("\n After Resetting index with 'drop' option True \n",'-'*35,sep='')
print(df.reset_index(drop=True))

 After Resetting index with 'drop' option True
-----------------------------------
   Age  Height  Weight
0   22      66     140
1   30      62     125
2   25      62     152

In [68]:
#Add new Column Profession

In [71]:
print("\n Adding a new column 'Profession' \n",'-'*45,sep=' ')
df['Profession']='Student Teacher Engineed'.split( )
print(df)

 Adding a new column 'Profession'
 ---------------------------------------------
       Age  Height  Weight Profession
Raju    22      66     140    Student
Srini   30      62     125    Teacher
Ashok   25      62     152   Engineed

In [72]:
#Set 'profession' as index

In [73]:
print("\n Setting 'Profession' column as index \n",'-'*45,sep='')
print(df.set_index('Profession'))

 Setting 'Profession' column as index
---------------------------------------------
            Age  Height  Weight
Profession
Student      22      66     140
Teacher      30      62     125
Engineed     25      62     152